.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.cont-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

form{
    width: 100%;
    margin-bottom: 40px;
    margin-top: 30px;
}
.text{
    margin-top: 40px;
}
.button-olvidar{
    margin-bottom: 40px;
    margin-top: 30px;
}

.button-contraseña{
    margin:10px 0px 10px 0px;
}

.button-registre{
    width: 60%;
   margin:10px 0px 0px 0px;
}
.button-crear{
    margin:20px 0px 10px 0px;
}
hr{
    border-color:rgb(255, 255, 255);
    width: 95%;
}