.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

form{
    margin-bottom: 40px;
    margin-top: 30px;
}
.text{
    margin-top: 40px;
}
.button-olvidar{
    margin-bottom: 40px;
    margin-top: 30px;
}

.button-contraseña{
    margin:10px 0px 10px 0px;
}

.button-registre{
   margin:10px 100px 0px 100px;
}
hr{
    border-color:white;
}