.cont-table{
    display: flex;
    justify-content: center;
}

.table-cont{
    width:75em;
    margin: 0px 10px 0px 10px;
    padding: 0px 30px 0px 30px;
}
h4{
    color: #009688;;
}
.cont-table-add{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 20em;
}

.table-cont-add{
    width:75em;
    margin: 0px 20px 0px 20px;
    padding: 0px 30px 0px 30px;
}