.search-cont{
    display: flex;
    justify-content: center;
    background-color:rgb(250, 245, 245);
}
.box-cont{
    width: 45em;
    margin: 0px 10px 0px 10px;
}

.cont-table{
    display: flex;
    justify-content: center;
    background-color:rgb(250, 245, 245);
}

.table-cont{
    width: 80em;
    margin: 0px 10px 0px 10px;
}
